@import '../../global-variables.scss';

.darkBg{
  background-color: $dark-bg-color;
}


:global {
    .navdrawer {
      a {
        &:hover{
          background-color: #833756 !important;
        }
      }
      .disabled {
        background-color: desaturate(darken($main-dark, 20%), 40%) !important;
        color: darkgrey !important;
        &:hover{
          background-color: desaturate(darken($main-dark, 20%), 40%) !important;
        }
      }
      .collapse {
        background-color: desaturate($main-light,20%) !important;
      }
  }
}